.contact-greeting {
    text-align: start;
    width: 100%;
    font-size: 3.5rem;
    margin: 5rem 0 2rem 0;
    line-height: 3.7rem;
    font-weight: 700;
}

.contact-container {
    width: 80%;
    margin-top: 1rem;
    border: 3px solid grey;
    padding: 1.5rem;
    box-shadow: 3px 3px lightgray;
}

.contact-container p {
    font-weight: 700;
}

.sns-container {
    display: flex;
    gap: 2rem;
}

.linkedin-logo {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
}

.instagram-logo {
    height: 100px;
    width: 100px;
    background-color: chartreuse;
}

img {
    height: 100px;
}