.navBar {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    position: fixed;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 3px #333;
    box-shadow: 3px 3px 3px lightgray;
    height: 2.5rem;
}

.navLink {
    text-decoration: none;
    color: #333;
    transition: color 3s;
}

.navLink:hover {
    color: silver;
    text-decoration: underline;
}

.navLink:active {
    text-decoration-color: gold;
}

.headerBlank {
    height: 1.5rem;
    width: 100vw;
    background-color: red;
}